/**********************************************jumbotron**************************************/
#jumbotron{
    height: 250px;
    background-image: url(../images/about/cause-2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 100px;
    overflow: hidden;
}

#jumbotron h1{
    text-align: center;
    margin-top: 40px;
    color:#fff;
    /* text-shadow: 2px 2px 8px #fff; */
    font-size: 60pt;
    font-family: calibri;
}
 /* //////////////////////////////////////top.container////////////////////// */
.top-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    top: -120px;
    
}
.top-container .box{
        position: relative;
        width: 350px;
        padding: 40px;
        width: 29%;
        box-shadow: 0 19px 19px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        margin: 24px;
        box-sizing: border-box;
        overflow: hidden;
        text-align: center;
}
.top-container .box:before{
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255,.2);
    z-index: 2;
    pointer-events: none;
}
.top-container .box .icon{
    position: relative;
    width: 80px;
    height: 80px;
    color: #fff;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 40px;
    font-weight: 700;
    transition: 1s;
}

.top-container .box:nth-child(1) .icon{
    box-shadow: 0 0 0 0#0081bf;
    background: #0081bf;
}
.top-container .box:nth-child(1):hover .icon{
    box-shadow: 0 0 0 400px #0081bf;
}
.top-container .box:nth-child(2) .icon{
    box-shadow: 0 0 0 0 #eec84c;
    background: #eec84c;
}
.top-container .box:nth-child(2):hover .icon{
    box-shadow: 0 0 0 400px #eec84c;
}
.top-container .box:nth-child(3) .icon{
    box-shadow: 0 0 0 0 #d45342;
    background: #d45342;
}
.top-container .box:nth-child(3):hover .icon{
    box-shadow: 0 0 0 400px #d45342;
}
.top-container .box .content{
    position: relative;
    z-index: 1;
    transition: 0.5s;
}
.top-container .box:hover .content{
    color: #fff;
}
.top-container .box .content h3{
    font-size: 20px;
    margin: 10px 0;
    padding: 0;
}
.top-container .box .content p{
    margin: 0;
    padding: 0;
}
.top-container .box .content a{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
}
.top-container .box:nth-child(1) .btn1{
    
    background: #0081bf;
}
.top-container .box:nth-child(1):hover .btn1{
    background-color:  #fff;
}
.top-container .box:nth-child(2) .btn2{
    
    background: #eec84c;
}
.top-container .box:nth-child(2):hover .btn2{
    background-color:  #fff;
}
.top-container .box:nth-child(3) .btn3{
    
    background: #d45342;
}
.top-container .box:nth-child(3):hover .btn3{
    background-color:  #fff;
}
 /* //////////////////////////////////////Annual Rapport////////////////////// */

 .article .titre{
    text-align: center;
    background:#3f3e40;
}
.article .titre h2{
    color: #fff;
    font-size: 50px;

}
.article .container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;

    
    
    
}
.article .container .box{
    position: relative;
    width: 350px;
    height: 350px;
    background: #ff0;
    margin: 20px auto;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(63, 62, 64, 0.8);
}
.article .container .box .imgBox{
    position: relative;
    overflow: hidden;
}
.article .container .box .imgBox img{
    height: 100%;
    
    transition: transform 2s;
}
.article .container .box .imgBox .center{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 350px;
}
.article .container .box:hover .imgBox img{
    transform: scale(1.2)
}
.article .container .box .details{
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: rgba(0,0,0,.8);
    transform: scaleY(0);
    transition: transform .5s;
}
.article .container .box:hover .details{
    transform: scaleY(1);
}
.article .container .box .details .content2{
    position: absolute;
    top: 100px;
    transform: translateY(-50%);
    text-align: center;
    padding: 15px;
    color: #fff;
}
.article .container .box .details .content2 a{
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
}
.article .container .box .details .content2 h2{
    margin-top: 80px;
    padding: 0;
    font-size: 20px;
    color: #ff0; 
}
.article .container .box .details .content p{
    margin: 10px 0 0;
    padding: 0;
}
/****************************************************slider de staf******************************************************/
.slider {
    position: relative;
    padding-top: 20px;
    padding-bottom: 50px;
}.swiper-container {
    width: 100%;
  }
  .swiper-container .titre2{
    text-align: center;
    background:#3f3e40;
}
.swiper-container .titre2 h2{
    color: #fff;
    font-size: 50px;

}
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 380px;
    background: #fff;

  }
  .swiper-slide .imgbx2{
      width: 100%;
      height: 300px;
      overflow: hidden;
  }
  .swiper-slide .imgbx2 img{
      width: 100%;
  }
  .swiper-slide .details2{
      box-sizing: border-box;
      font-size: 20px;
      padding: 20px;
  }
  .swiper-slide .details2 h3{
      margin: 0;
      padding: 0;
      font-size: 20px;
      text-align: center;
      line-height: 20px;
  }
  .swiper-slide .details2 h3 span{
      font-size: 16px;
      color: #f44336;
  }
  /******************************************partener************************************/
  .wrapper {
    margin-top: 40px;
	width: 100%;
    overflow: hidden;
    background: #3f3e40;
}
.photobanner {
	position: relative;
	height: 100px;
	margin-bottom: 10px;
	display: flex;
}

.photobanner img {
  margin: 0px 25px;
}
 .photobanner {
  animation: bannermove 20s linear infinite alternate-reverse;
    }

@media(max-width:600px){

   
    @keyframes bannermove {
        from {
          left: 0px;
        }
        to {
          left: -680px;
        }
    }
    .photobanner {
        height: 70px;
        width: 50px;
    }
    .top-container{
        margin-left: 80px;
    }
    /* #jumbotron{
        height: 50px;

    } */
    #jumbotron h1{
        font-size: 33pt;
        
    }
    .top-container{
       align-items: center;
       margin: 0 auto;
    }
    .top-container .box{
         align-items: center;
        margin: 0 auto;
    }
  }
  @media(max-width:900px){

   
    @keyframes bannermove {
        from {
          left: 0px;
        }
        to {
          left: -400px;
        }
    }
    .top-container{
        align-items: center;
        margin: 0 auto;
     }
     .top-container .box{
          align-items: center;
         margin: 0 auto;
        }
    .top-container .box{
        width: 300px;
        margin-top: 20px;
    }
    .swiper-slide .imgbx2{
        width: 100%;
        height: 200px;
        overflow: hidden;
    }
    .swiper-slide {
        
        width: 200px;
        height: 280px;
        
    
      }
      .article .container .box{
          width: 300px;
          height: 300px;
      }
  }