
/************************************************Container**************************************************************************/
.container {
    width: 1440px;
    margin: 0px auto; }
    .container .bgTitle {
      color: white;
      padding-top: 40px;
      text-align: center;
      height: 100px;
      background-color: #00A89C; }
    .container .row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 5px; }
  /***********************************************Main**************************************************/
  .main {
    padding: 50px 0;
    margin: 0px auto; }
  
  .main h1 {
    font-size: 42px;
    color: #333;
    font-weight: 700; }
  
  .main p {
    font-size: 18px;
    color: #687074;
    width: 70%;
    margin: 15px auto; }
  
  .main p a {
    text-decoration: none;
    color: #ec1c23;
    font-weight: 900; }
  
  .main ul {
    margin-top: 50px;
    padding-left: 0px;
   list-style-type:none ;
  }
  
  .main ul li {
    padding: 10px 15px;
    border: 2px solid #333;
    margin-right: 10px;
    margin-bottom: 10px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.5s ease;
    color: #333;
    width: 120px; }
  
  .main ul li.active,
  .main ul li:hover {
    background-color: #2AB29E;
    color: #fff;
    border: 2px solid #3d7434; }
  
  .main .container-fluid {
    display: flex;
    justify-content: space-around;
    max-width: 1440px;
    flex-wrap: wrap;
    margin: 20px auto;
    overflow: hidden;
    padding: 0; }
    .main .container-fluid .catego {
      position: relative;
      display: inline-block;
      text-align: center;
      padding: 0;
      margin: 16px;
      transition: all 5s ease-in-out; }
    .main .container-fluid .caption {
      display: none;
      position: absolute;
      top: 45%;
      left: 38%;
      text-align: center;
      color: white;
      text-shadow: 2px 2px 4px #000000;
      font-size: 15px; }
    .main .container-fluid img {
      border: 2px solid #4c9141;
      border-radius: 8px;
      width: 100%; }
  
  @media (max-width: 767px) {
    .main .container-fluid img {
      width: 100%; } }
  
  @media (max-width: 1024px) {
    .container-fluid {
      width: 80vw; } }
  
  @media (max-width: 1024px) {
    .container {
      width: 70vw; } }
  
  @media (max-width: 1024px) {
    .row {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 5px; } }
     
      #banner {
        position: relative;
        height:400px;
        width:100%;
         overflow: hidden;
         opacity: 0.5;
        }
        
        /* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #00A89C;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.4;
  position: absolute;
 top:50%;
 left:40%;
 /* transform:(_50% 50%); */
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 6px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}