

//MEDIA QUERY MANNAGER

/*
0 - 600px: phone
600 - 900px: Tbalet portrait
900 - 1200px Tablet Landscape
[1200 - 1800] is where our normal style apply
1800px + Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: base typography > general layout + grid > page layout > components

for media queries 1em = 16px
*/
@mixin responsive($breakpoint) {

    @if $breakpoint == iphone {
        @media screen and (max-width: 23.44em) { @content }; //375px
     }
     
    @if $breakpoint == phone {
        @media screen and (max-width: 37.5em) { @content }; //600px
    }
    
    @if $breakpoint == tab-port {
        @media screen and (max-width: 56.25em) { @content }; //900px
    }

    @if $breakpoint == tab-land {
        @media screen and (max-width: 75em) { @content }; //1200px
    }

    @if $breakpoint == big-desktop {
        @media screen and (min-width: 112.5em) { @content }; //1800px
    }
}


//MIXINS
// ADDS A BROWSER PREFIX TO THE PROPERTY
@mixin css3-prefix($property, $value) {
    -webkit-#{$property}: #{$value};
    -khtml-#{$property}: #{$value};
    -moz-#{$property}: #{$value};
    -ms-#{$property}: #{$value};
    -o-#{$property}: #{$value};
    #{$property}: #{$value};
}
// TRANSFORM
@mixin transform($params) {
    @include css3-prefix('transform', $params);
}

@mixin placeholder {
    padding: 1.1rem 2rem;
    // margin: .5rem;
    background-color: rgba(91, 91, 89, .47);
    border: none;
    outline: none;
    color: $color-white;
    width: 50%;
    
    @include responsive(big-desktop) {
        width: 25%;
    }

    // @include responsive(tab-port) {
    //     width: 100%;
    // }
    &::placeholder {
        // color: $color-white;
        text-transform: uppercase;
        font-weight: $light-font-weight;
    }

    &:focus {
        color: $color-white;
        font-weight: $bold-font-weight
    }
}