.header {
    display: grid;
    grid-template-columns: 10rem repeat(2, 1fr) 10rem;

    &__hero {
        grid-column: 2/3;
        padding-top: 5rem;
    }

    &__img {
        position: absolute;
        // right: 10rem + $default-padding;
        right: 0;
        top: $default-padding;
        z-index: -1;
        // height: 50rem;
        width: 50vw;
    }
    &__img-box {
        grid-column: 3/4;
    }

    
}