.header {
    display: grid;
    grid-template-columns: 10rem repeat(2, 1fr) 10rem;

    &__hero {
        grid-column: 2/3;
    }

    &__img {
        position: absolute;
        // right: 10rem + $default-padding;
        right: 0;
        top: $default-padding;
        z-index: -1;
        height: 50rem;
    }
    &__img-box {
        grid-column: 3/4;
    }
}