.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: .5rem 2.5rem;
        display: inline-block;
        transition: all .2s;
        font-size: 1.3rem;
        position: relative;
        border: none;
        cursor: pointer;
        // @include responsive(tab-port)  {
        //     font-size: 1.5rem;
        //  }
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, $alpha: .2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    &__header {
        border-radius: .5rem;

        &::after {
        border-radius: .5rem;
        }
    }
    

    &__urgent {
        &-icon {
            width: 1rem;
        }
        font-size: 1rem !important;
        top: 1rem;
        left: 1rem;
    }

    &__cause {
        border-radius: 10rem;
        &::after {
            border-radius: 10rem;
            }
    }

    &__about {
        border-radius: 10rem;
        margin: 0 auto;
        &::after {
            border-radius: 10rem;
            }
    }

    &__donation {
        width: 100%;
        border-radius: 10rem;
        margin: .5rem;
        text-align: center;
        @include responsive(big-desktop) {
            width: 14.5rem;
        }

        @include responsive(tab-port) {
            width: 100%;
        }
        &::after {
            border-radius: 10rem;
            }
    }

    &__footer {
        width: 50%;
        text-align: center;
        @include responsive(big-desktop) {
            width: 25%;
        }
    }

    &--dark {
        background-color: $color-dark;
        color: $color-white;
        &::after {
            background-color: $color-dark;
        }
    }

    &--red {
        background-color: $color-red;
        color: $color-white;
        &::after {
            background-color: $color-red;
        }
    }

    &--green {
        background-color: $color-primary;
        color: $color-white;
        &::after {
            background-color: $color-primary;
        }
    }

    &--yellow {
        background-color: $color-yellow;
        color: $color-white;
        &::after {
            background-color: $color-yellow;
        }
    }

}