//*********************************************************//
//Section Problem
//*********************************************************//
.section-prob {
    display: grid;
    grid-template-columns: 10rem repeat(4, 1fr) 10rem;
    grid-template-rows: repeat(3, 1fr);
    margin-top: 20rem;
    background-color: $color-dark;
    position: relative;
    width: 100%;

    @include responsive(tab-port) {
        grid-template-rows: 80% 20% 1fr;
    }

    .card-container {
        grid-area: 1/1/2/7;
        height: 25vh;

        @include responsive(tab-port) {
            display: flex;
            flex-direction: column;
            // justify-content: center;
            // align-content: center;
            // align-items: center;
            height: 100%;
            margin-top: -7.5rem;

            // padding-left: 7.5rem;
        }
    }

    .card-prob {
        // display: flex;
        // flex-direction: column  ;
        position: absolute;
        top: -7.5rem;
        text-align: center;
        background-color: #fff;
        justify-self: center;
        width: 25rem;
        height: 15rem;
        padding: 1.5rem 2.5rem;
        border-radius: .5rem;
        box-shadow: $default-shadow;

        &--1 {
            // grid-area: 1 / 2 / 2 / 3;
            left: 25%;
            transform: translateX(-50%);
        }

        &--2 {
            // grid-area: 1 / 3 / 2 / 4;
            left: 50%;
            transform: translateX(-50%);
        }

        &--3 {
            // grid-area: 1 / 4 / 2 / 5;
            left: 75%;
            transform: translateX(-50%);
        }

        @include responsive(tab-port) {
            position: relative;
            margin: 0 0 2rem 0rem;
            width: 47rem;
            // align-self: end;
            height: 15rem;
            top: 0;
            left: 50%;
        }

        @include responsive(phone) {
            // margin: 0 0 2rem 25rem;
            width: 41rem;
        }

        &__img {
            width: 4rem;
        }

        &__heading {
            font-size: $default-font-size;
            font-weight: $regular-font-weight;
            color: $color-dark;
        }

        &__description {
            font-size: 1rem;
            font-weight: $light-font-weight;
        }
    }

    &__heading {
        grid-area: 2/ 2 / 3 / 6;
        text-align: center;
        color: $color-white;
        padding: 0 0 4.5rem 2rem;
        justify-self: center;

        .heading-primary {
            font-size: 4rem;
            font-weight: $regular-font-weight;
        }

        .heading-desc {
            font-weight: $light-font-weight;
            padding: 0 25%;
        }

        @include responsive(phone) {
            height: 25rem;
        }
    }

    .solution {
        grid-area: 3 / 2 / 4 / 6;
        display: flex;
        justify-content: space-around;
        // flex-direction: column;
        margin: 0 auto 5rem auto;

        @include responsive(tab-port) {
            margin: 5rem auto;
            // flex-direction: column;
            // justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }

        @include responsive(phone) {
            flex-direction: column;

        }

        // padding: 0 5rem;
        &__img {
            width: 4rem;

            @include responsive(tab-port) {
                width: 6rem;
            }

        }

        &__card {
            text-align: center;
            width: 25rem;
            margin-bottom: 5rem;
        }

        &__des {
            color: $color-white;
            padding: 0 20%;
            font-weight: $light-font-weight;
            font-size: 1.2rem;
            text-align: justify;

            @include responsive(tab-port) {
                font-size: 2rem;
            }

        }
    }

}

//*********************************************************//
//Section Causes
//*********************************************************//
.causes {
    padding: 2rem 5rem;
    //causes heading

    &__heading {
        &--sub {
            font-weight: 200;
            color: $color-dark-grey;
        }

        &--main {
            font-size: 3rem;
            font-weight: $bold-font-weight;
            color: $color-dark-grey;
            line-height: 1;
        }
    }

    // cuases cards

    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        grid-gap: 3rem;
    }

    &__card {
        //Top section of the card
        box-shadow: $Second-shadow;
        border-radius: 3px;
        overflow: hidden;

        &-top {
            position: relative;
            height: 20rem;
            background-repeat: no-repeat;
            background-size: cover;

            &::before {
                content: "";
                display: block;
                position: absolute;
                bottom: 0;
            }

            &--1 {
                background-image: linear-gradient(to bottom, rgba(101, 100, 96, 0) 0%, rgba(101, 100, 96, 0.65) 100%), url("../images/home/cause-1.jpg");

                &::before {
                    width: 24%;
                    border-bottom: 5px solid $color-primary;
                }
            }

            &--2 {
                background-image: linear-gradient(to bottom, rgba(101, 100, 96, 0) 0%, rgba(101, 100, 96, 0.65) 100%), url("../images/home/cause-2.jpg");

                &::before {
                    width: 42%;
                    border-bottom: 5px solid $color-yellow;
                }
            }

            &--3 {
                background-image: linear-gradient(to bottom, rgba(101, 100, 96, 0) 0%, rgba(101, 100, 96, 0.65) 100%), url("../images/home/cause-3.jpg");

                &::before {
                    width: 19%;
                    border-bottom: 5px solid $color-red;
                }
            }

            .donate {
                text-transform: uppercase;
                font-size: 1.3rem;
                color: $color-white;
                position: absolute;
                top: 70%;
                left: 9%;
            }

        }

        &-percentage {
            padding: 1rem;
            color: $color-white;
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            position: absolute;
            bottom: -2rem;
            font-size: 1.1rem;
            font-weight: $medium-font-weight;

            &--1 {
                background-color: $color-primary;
                left: 24%;
            }

            &--2 {
                background-color: $color-yellow;
                left: 42%;
            }

            &--3 {
                background-color: $color-red;
                left: 19%;
            }

        }

        //Bottom section of the card

        &-bottom {
            padding: 4rem 2rem;
        }

        &-heading {
            font-weight: $regular-font-weight;
            color: $color-dark;

        }


        &-details {
            &-icon {
                width: 1rem;
            }

            &-text {
                font-size: 1.2rem;
                font-weight: $light-font-weight;
                color: $color-dark-grey;
                margin-bottom: 2rem;
            }

            &-description {
                font-size: 1.4rem;
                font-weight: $light-font-weight;
                color: $color-dark-grey;
                margin: 2rem 0 3rem 0;
            }
        }
    }
}


//*********************************************************//
//Donation Section
//*********************************************************//

.donation {
    background-image: url("../images/home/parallax-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10rem 20rem;
    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(30rem,  1fr));
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: center;
    @include responsive(tab-port) {
        grid-template-rows: 1fr 2fr 1fr;
        grid-template-columns: auto;
        padding: 5rem 6rem;
    }

    &__heading {
        width: 15rem;
        line-height: 1.2;
        color: $color-white;

        @include responsive(tab-port) {
            width: 100%;
            font-size: 3rem;
            text-align: center;
        }

        &--main {
            font-weight: $regular-font-weight;
        }

        &--sub {
            font-weight: $light-font-weight;
        }
    }

    &__input {
        padding: 1rem 2rem;
        margin: .5rem;
        background-color: rgba(91, 91, 89, .47);
        border: none;
        outline: none;
        color: $color-white;
        width: 100%;
        
        @include responsive(big-desktop) {
            width: auto;
        }

        @include responsive(tab-port) {
            width: 100%;
        }
        &::placeholder {
            // color: $color-white;
            text-transform: uppercase;
            font-weight: $medium-font-weight;
        }

        &:focus {
            color: $color-white;
            font-weight: $bold-font-weight
        }
    }

    &__description {
        width: 15rem;
        line-height: 1.3;
        margin: 0 auto;
        @include responsive(tab-port) {
            text-align: center;
            width: 100%;
            align-self: center;
            justify-self: center;
        }
        &--1 {
            margin-bottom: .5rem;
            color: $color-white;
        }

        &--2 {
            color: $color-primary;
        }
    }
}

//*********************************************************//
//Section about
//*********************************************************//

.about {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 6rem 4rem;
    @include responsive(tab-port) {
        grid-template-rows: 6fr 1fr 1fr;
    }
    &-header {
        grid-row: 1/2;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        @include responsive(tab-port){
            flex-direction: column;
            align-items: center;
        }
    }

    &__img {
        display: inline-block;
        // width: 25%;
        // height: 50%;
        width: 30rem;
        height: 27rem;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        box-shadow: $Second-shadow;
        border-radius: 3px;
        @include responsive(tab-port){
            display: block;
            width: 78rem;
            height: 70rem;
            
        }
        &--1 {
            background-image: linear-gradient(to bottom, rgba(101, 100, 96, 0) 0%, rgba(101, 100, 96, 0.65) 100%), url("../images/home/team-1.jpg");
            @include responsive(tab-port) {
                margin-bottom: 3rem;
            }
        }

        &--2 {
            background-image: linear-gradient(to bottom, rgba(101, 100, 96, 0) 0%, rgba(101, 100, 96, 0.65) 100%), url("../images/home/square-6.jpg");
        }

        &-title{
            position: absolute;
            bottom: 5rem;
            left: 50%;
            transform: translateX(-50%);
            font-size: 2rem;
            color: $color-white;
            font-weight: $light-font-weight;
        }

        &-countary {
            position: absolute;
            bottom: 3rem;
            left: 50%;
            transform: translateX(-50%);
            font-size: 1.5rem;
            color: $color-white;
            font-weight: $bold-font-weight;
        }
    }

    &__heading {
        width: 40%;
        font-size: 3rem;
        text-align: end;
        color: $color-dark-grey;
        font-weight: $bold-font-weight;

        @include responsive(tab-port) {
            text-align: center;
            width: 70%;
            margin-bottom: 2rem;
        }
    }

    &__features {
        display: flex;
        flex-wrap: wrap;
        padding: 2.5rem 4rem 0rem 4rem;
        &-container-1 {
            width: 50%;
            display: flex;
        }

        &-container-2 {
            width: 50%;
            display: flex;
        }
        &-icon {
           width:7rem
        }

        &-text {
            width: 70%;
            margin: 1.5rem 0 0 2rem;
        }

        &-description {
            margin-bottom: 2rem;
            color: $color-dark-grey;
        }
        &-btn {
            &,
            &:visited {
                text-decoration: none;
                color: $color-dark;
                font-weight: $medium-font-weight;
                cursor: pointer;
            }
        }

        &--2 {
            padding: 0rem 4rem;
        }
    }
}